{% extends 'index.html' %}
{% load static %}

{% block title %}| Produtos{% endblock  %}


{% block content %}


<section class="slider" style=" background: url({% static 'images/_FPA0287.jpg' %}) no-repeat;">
    <div class="container">
       <div class="columns is-justify-content-center">
          <div class="column is-9-widescreen is-12-desktop">
             <div class="has-text-centered">
					<img src="{% static 'images/logo.png' %}" style="width: 200px; height: 200px" alt="logo">~

                <span class="is-block mb-4 is-uppercase has-text-white">Vendas e Reparação de Equipamentos Informáticos</span>
                <h1 class="animated fadeInUp mb-6 "  style="color:#f33">OVENAME  BENFLOR</h1>

             </div>
          </div>
       </div>
    </div>
 </section>
<!-- portfolio -->
<section class="section portfolio">
   <div class="container">
      <div class="columns is-justify-content-center">
         <div class="column is-6-widescreen is-8-desktop is-10-tablet has-text-centered">
            <div class="section-title">
               <h3 class="mb-4">A Alegria de nossos clientes, é nossa maior Alegria!</h3>
            </div>
         </div>
      </div>
    
      <div class="columns shuffle-wrapper portfolio-gallery">
         <div class="column is-4-desktop is-6-tablet shuffle-item" data-groups="[&quot;design&quot;,&quot;illustration&quot;]">
            <div class="position-relative rounded inner-box">
               <div class="image position-relative ">
                  <img src="{% static 'images/_FPA0287.jpg' %}" alt="portfolio-image" class=" rounded w-100 d-block">
                  <div class="overlay-box">
                     <div class="overlay-inner">
                        <div class="overlay-content has-text-centered">
                           <h3 class="mb-2">Ovename Benflor</h3>
                           <p class="text-white-50"></p>
                           <a href="{% static 'images/_FPA0287.jpg' %}" class="portfolio-image popup-gallery btn btn-white mt-3 btn-sm" title="Ovename Benflor">Ver</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="column is-4-desktop is-6-tablet shuffle-item" data-groups="[&quot;branding&quot;]">
            <div class="position-relative rounded inner-box">
               <div class="image position-relative ">
                  <img src="{% static 'images/_FPA0299.jpg' %}" alt="portfolio-image" class=" rounded w-100 d-block">
                  <div class="overlay-box">
                     <div class="overlay-inner">
                        <div class="overlay-content has-text-centered">
                           <h3 class="mb-2">Ovename Benflor</h3>
                           <p class="text-white-50"></p>
                           <a href="{% static 'images/_FPA0299.jpg' %}" class="portfolio-image popup-gallery btn btn-white mt-3 btn-sm" title="Ovename Benflor">Ver</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="column is-4-desktop is-6-tablet shuffle-item" data-groups="[&quot;illustration&quot;]">
            <div class="position-relative rounded inner-box">
               <div class="image position-relative ">
                  <img src="{% static 'images/_FPA0317.jpg' %}" alt="portfolio-image" class=" rounded w-100 d-block">
                  <div class="overlay-box">
                     <div class="overlay-inner">
                        <div class="overlay-content has-text-centered">
                           <h3 class="mb-2">Ovename Benflor</h3>
                           <p class="text-white-50"></p>
                           <a href="{% static 'images/_FPA0317.jpg' %}" class="portfolio-image popup-gallery btn btn-white mt-3 btn-sm" title="Ovename Benflor">Ver</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="column is-4-desktop is-6-tablet shuffle-item" data-groups="[&quot;design&quot;,&quot;branding&quot;]">
            <div class="position-relative rounded inner-box">
               <div class="image position-relative ">
                  <img src="{% static 'images/_FPA0342.jpg' %}" alt="portfolio-image" class=" rounded w-100 d-block">
                  <div class="overlay-box">
                     <div class="overlay-inner">
                        <div class="overlay-content has-text-centered">
                           <h3 class="mb-2">Ovename Benflor</h3>
                           <p class="text-white-50"></p>
                           <a href="{% static 'images/_FPA0342.jpg' %}" class="portfolio-image popup-gallery btn btn-white mt-3 btn-sm" title="Ovename Benflor">Ver</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="column is-4-desktop is-6-tablet shuffle-item" data-groups="[&quot;illustration&quot;]">
            <div class="position-relative rounded inner-box">
               <div class="image position-relative ">
                  <img src="{% static 'images/_FPA0316.jpg' %}" alt="portfolio-image" class=" rounded w-100 d-block">
                  <div class="overlay-box">
                     <div class="overlay-inner">
                        <div class="overlay-content has-text-centered">
                           <h3 class="mb-2">Ovename Benflor</h3>
                           <p class="text-white-50"></p>
                           <a href="{% static 'images/_FPA0316.jpg' %}" class="portfolio-image popup-gallery btn btn-white mt-3 btn-sm" title="Ovename Benflor">Ver</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
   
         <div class="column is-4-desktop is-6-tablet shuffle-item" data-groups="[&quot;branding&quot;]">
            <div class="position-relative rounded inner-box">
               <div class="image position-relative ">
                  <img src="{% static 'images/_FPA0344.jpg' %}" alt="portfolio-image" class=" rounded w-100 d-block">
                  <div class="overlay-box">
                     <div class="overlay-inner">
                        <div class="overlay-content has-text-centered">
                           <h3 class="mb-2">Ovename Benflor</h3>
                           <p class="text-white-50"></p>
                           <a href="{% static 'images/_FPA0344.jpg' %}" class="portfolio-image popup-gallery btn btn-white mt-3 btn-sm" title="Ovename Benflor">Ver</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</section>


{% endblock  %}