{% extends 'index.html' %}
{% load static %}

{% block title %}| Produtos{% endblock  %}


{% block content %}


<section class="slider" style=" background: url({% static 'images/_FPA0244.jpg' %}) no-repeat;">
    <div class="container">
       <div class="columns is-justify-content-center">
          <div class="column is-9-widescreen is-12-desktop">
             <div class="has-text-centered">
					<img src="{% static 'images/logo.png' %}" style="width: 200px; height: 200px" alt="logo">~

                <span class="is-block mb-4 is-uppercase has-text-white">Vendas e Reparação de Equipamentos Informáticos</span>
                <h1 class="animated fadeInUp mb-6 "  style="color:#f33">OVENAME  BENFLOR</h1>

             </div>
          </div>
       </div>
    </div>
 </section>

{% endblock  %}